*.retry
karabiner/automatic_backups/
/bin/mitamae*
home/.config/.copilot/logs/
home/.config/mozilla/firefox
home/.config/evolution/sources
home/.config/ibus/bus
home/.config/pulse
home/.config/gnome-initial-setup-done
home/.config/.gsd-keyboard.settings-ported
home/.config/environment.d
home/.config/systemd/user
home/.config/starship.toml
home/.config/cagent
home/.local/bin/claude
/home/.config/monitors.xml
/home/.config/odbc/odbcinst.ini
/home/.config/fcitx5/conf/cached_layouts
home/.config/dleyna-server-service.conf
home/.config/user-dirs.dirs
home/.config/user-dirs.locale
/home/.docker/config.json
/home/.config/gtk-3.0
/home/.config/mozc
/home/.config/fcitx/dbus
/home/.config/1Password
/home/.config/BraveSoftware/Brave-Browser/NativeMessagingHosts
/home/.config/google-chrome*
/home/.config/microsoft-edge-dev/NativeMessagingHosts
/home/.config/vivaldi*
/home/.config/Slack
/home/.config/notion-app-enhanced
/home/.config/zoom.conf
/home/.config/zoomus.conf
/home/.config/tiling-assistant
/home/.config/gcloud-profiles
/home/.config/chromium
/home/.config/goa*
/home/.config/freerdp
/home/.config/autostart
/home/.config/todoist-cli
/home/.config/github-copilot
/home/.config/herdr/*
!/home/.config/herdr/config.toml
/home/.docker
