*.retry
karabiner/automatic_backups/
/bin/mitamae*
config/.config/.copilot/logs/
nixos/hosts/phoenix/hardware-configuration.nix
config/.config/mozilla/firefox
config/.config/evolution/sources
config/.config/ibus/bus
config/.config/pulse
config/.config/gnome-initial-setup-done
config/.config/.gsd-keyboard.settings-ported
config/.config/environment.d
config/.config/systemd/user
config/.config/starship.toml
config/.config/cagent
