configstore
gcloud
gh
hub
raycast
telepresence
op
rstudio
bashtop
dconf
go
pypoetry
rclone
lightdash
/.copilot/logs/
/mozilla/firefox
/evolution/sources
/ibus/bus
/pulse
/gnome-initial-setup-done
/.gsd-keyboard.settings-ported
/environment.d
/systemd/user
/starship.toml
/cagent
/monitors.xml
/odbc/odbcinst.ini
/fcitx5/conf/cached_layouts
/dleyna-server-service.conf
/user-dirs.dirs
/user-dirs.locale
/gtk-3.0
/mozc
/fcitx/dbus
/1Password
/BraveSoftware/Brave-Browser/NativeMessagingHosts
/google-chrome*
/microsoft-edge-dev/NativeMessagingHosts
/vivaldi*
/Slack
/notion-app-enhanced
/zoom.conf
/zoomus.conf
/tiling-assistant
/gcloud-profiles
/chromium
/goa*
/freerdp
/autostart
/todoist-cli
/github-copilot
/herdr/*
!/herdr/config.toml
