name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install aqua
        uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.3
      - run: ./install
      - run: aqua install
